<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>com.imane.App</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
</web-app>